<web-app>
<servlet>
<servlet-name>Add</servlet-name>
<servlet-class>AddStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Add</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Srch</servlet-name>
<servlet-class>SearchStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Srch</servlet-name>
<url-pattern>/srch</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Del</servlet-name>
<servlet-class>DeleteStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Del</servlet-name>
<url-pattern>/delt</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Update</servlet-name>
<servlet-class>UpdateStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Update</servlet-name>
<url-pattern>/upd</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Update1</servlet-name>
<servlet-class>UpdateStudent2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Update1</servlet-name>
<url-pattern>/upd1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Total</servlet-name>
<servlet-class>TotalStudents</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Total</servlet-name>
<url-pattern>/ts</url-pattern>
</servlet-mapping>
</web-app>